<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>

<h1>Catálogo</h1>
  
<%= paginate @products %>

<% @products.each do |product| %>
  <div class="entry" >
  <%= image_tag(product.image_url) %>
  <h3><%= product.title %></h3>
  <%=sanitize product.description %>
  <div class="price_line" >
    <span class="price" ><%= number_to_currency(product.price) %></span>
  </div>
  <div class="id_line" >
    <span><%= "ID:" %></span>
    <span class="id"><%= product.id %></span>
  </div>
  
  <div class="trailer_line" >
    <a href="<%= product.trailer %>" >Ver Trailer</a><br />
  </div>    
  <div class="released_at_line" >
    <span class="released_at:"> en nuestro catalogo desde: <%= product.released_at %></span>
  </div>
 
  <div class="evaluation_line" >
    <span class="evaluation:"><%= product.evaluation %></span>
  </div>
    
</div>
<% end %>
