<!DOCTYPE html>
<html>
<head>
  <title>Pidabluray</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>  
  
  </head>
<body id="store" >
  <div id="banner" >
    <%= image_tag("logo.jpg") %>
    <%= @page_title || "Peliculas Bluray" %>
  </div>
    <div id="columns" >
    <div id="side" >
      <a ><%= @date %></a><br />
      
      <a <%= link_to "Inicio", store_index_path %></a><br />
      
    </div>
    <div id="main" >

      <%= yield %>
    </div>
  </div>
</body>
</html>
